
MONGODB_URI=mongodb+srv://khairegaurav022:HDwj6Iog24QIRIOp@cluster0.tpkhrhf.mongodb.net/?appName=Cluster0
DEEPSEEK_API_KEY=sk-0e246eb88b804848bb7ec45548c34b64
RAZORPAY_KEY_ID=rzp_test_RHRcz8xhm1eJAb
RAZORPAY_KEY_SECRET=DVpEk92KJfuUwHVhNNTTk6Kp
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_RHRcz8xhm1eJAb
RESEND_API_KEY=
OWNER_EMAIL=gauravgkhaire155@gmail.com
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW5mb3JtZWQtZG92ZS00OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_SxBXQ2yUF4vIACij1frXbeb12e3WCSruSIDjBoDXfY
CLERK_WEBHOOK_SIGNING_SECRET=whsec_6XK6hfySJ2p45z30TuHqh8tz6G3mw9tH
